{% extends "base.html" %}
{% block title %} Lab Items {% endblock title %}

{% block content %}
    <center>
        <h1>{{ lab }} Lab</h1><br>
        <p>Number of Chairs: {{ chair_count }}</p>
        <p>Number of Tables: {{ table_count }}</p>
        <p>Number of Projectors: {{ projector_count }}</p>
        <p>Number of Printers: {{ printer_count }}</p>
        <p>Number of Network Switches: {{ switch_count }}</p>
        <p>Number of Projector Screens: {{ screen_count }}</p>
        <p>Number of Biometric Devices: {{ biometric_count }}</p>
        <p>Number of Tube Lights: {{ tubelight_count }}</p>
        <p>Number of Fans: {{ fan_count }}</p>
        <p>Number of CCTV Cameras: {{ cctv_count }}</p>
        <p>Number of Keyboards: {{ keyboard_count }}</p>
        <p>Number of Mouse: {{ mouse_count }}</p>
        <p>Number of Cameras: {{ camera_count }}</p>
        <p>Number of Boards: {{ board_count }}</p>
        <p>Number of Cupboards: {{ cupboard_count }}</p>
        <p>Number of Monitors: {{ monitor_count }}</p>
        <p>Number of CPUs: {{ cpu_count }}</p>
        <p>Number of Sockets: {{ socket_count }}</p>
        <p>Number of Extension Boxes: {{ extension_box_count }}</p>
        <p>Number of Connecting Wires: {{ connecting_wire_count }}</p>
    </center>

    <h2>Chair Counts:</h2>
    <ul>
        {% for combination, count in chair_counts.items %}
        <li>
            Combination: {{lab}},
            Arms: {{ combination.0 }}, 
            Material: {{ combination.1 }}, 
            Rolling: {{ combination.2 }} 
            Count: {{ count }}
        </li>
        {% endfor %}
    </ul>

    <!-- Add similar sections for other item categories -->

</body>
</html>

{% endblock content %}
