{% extends "base.html" %}
{% block title %} Lab Items {% endblock title %}

{% block content %}
<style>
    td,th {
        color: white;
        text-align: center;
    }
    </style>
    <center>
        <h1>IS LAB</h1><br>
        <table>
            <tr>
                <th>Item</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>Number of Chairs:</td>
                <td>{{ chair_count }}</td>
            </tr>
            <tr>
                <td>Number of Tables:</td>
                <td>{{ table_count }}</td>
            </tr>
            <tr>
                <td>Number of Projectors:</td>
                <td>{{ projector_count }}</td>
            </tr>
            <tr>
                <td>Number of Printers:</td>
                <td>{{ printer_count }}</td>
            </tr>
            <tr>
                <td>Number of Network Switches:</td>
                <td>{{ switch_count }}</td>
            </tr>
            <tr>
                <td>Number of Projector Screens:</td>
                <td>{{ screen_count }}</td>
            </tr>
            <tr>
                <td>Number of Biometric Devices:</td>
                <td>{{ biometric_count }}</td>
            </tr>
            <tr>
                <td>Number of Tube Lights:</td>
                <td>{{ tubelight_count }}</td>
            </tr>
            <tr>
                <td>Number of Fans:</td>
                <td>{{ fan_count }}</td>
            </tr>
            <tr>
                <td>Number of CCTV Cameras:</td>
                <td>{{ cctv_count }}</td>
            </tr>
            <tr>
                <td>Number of Keyboards:</td>
                <td>{{ keyboard_count }}</td>
            </tr>
            <tr>
                <td>Number of Mice:</td>
                <td>{{ mouse_count }}</td>
            </tr>
            <tr>
                <td>Number of Cameras:</td>
                <td>{{ camera_count }}</td>
            </tr>
            <tr>
                <td>Number of Boards:</td>
                <td>{{ board_count }}</td>
            </tr>
            <tr>
                <td>Number of Cupboards:</td>
                <td>{{ cupboard_count }}</td>
            </tr>
            <tr>
                <td>Number of Monitors:</td>
                <td>{{ monitor_count }}</td>
            </tr>
            <tr>
                <td>Number of CPUs:</td>
                <td>{{ cpu_count }}</td>
            </tr>
            <tr>
                <td>Number of Sockets:</td>
                <td>{{ socket_count }}</td>
            </tr>
            <tr>
                <td>Number of Extension Boxes:</td>
                <td>{{ extension_box_count }}</td>
            </tr>
            <tr>
                <td>Number of Connecting Wires:</td>
                <td>{{ connecting_wire_count }}</td>
            </tr>
        </table>
    </center>

    <h2>Chair Counts:</h2>
    <table>
        <tr>
            <th class="item">Combination</th>
            <th class="colon"></th> {# An empty th for spacing #}
            <th class="count">Count</th>
        </tr>
        {% for combination, count in chair_counts.items %}
        <tr>
            <td class="item">Material</td>
            <td class="colon">:</td> {# Separate td for the colon #}
            <td class="count">{{ combination.0 }}</td>
            <td class="item">Arms</td>
            <td class="colon">:</td>
            <td class="count">{{ combination.1 }}</td>
            <td class="item">Rolling</td>
            <td class="colon">:</td>
            <td class="count">{{ combination.2 }}</td>
            <td class="item">Count</td>
            <td class="colon">:</td>
            <td class="count">{{ count }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>

{% endblock content %}
